
/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Main Config 1080p */

@import "/home/s1dd/dotfiles/rofi/wals/master-config.rasi" 

/* ---- Configuration ---- */
configuration {
	font: "SpaceMono Nerd Font Bold 12";
}

element-text {
    font:	"SpaceMono Nerd Font Bold 14";
}
